In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

In [37]:
df = spark.read.format("csv")\
.option("header", True)\
.option("inferschema", True)\
.load("dolgozo.csv")
df.show(3)

+----+-----+-----------+------+---------+-------+-------+-----+
|DKOD| DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+-----+-----------+------+---------+-------+-------+-----+
|7839| KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|
|7698|BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|
|7782|CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|
+----+-----+-----------+------+---------+-------+-------+-----+
only showing top 3 rows

In [38]:
df.printSchema()

root
 |-- DKOD: integer (nullable = true)
 |-- DNEV: string (nullable = true)
 |-- FOGLALKOZAS: string (nullable = true)
 |-- FONOKE: integer (nullable = true)
 |-- BELEPES: string (nullable = true)
 |-- FIZETES: integer (nullable = true)
 |-- JUTALEK: integer (nullable = true)
 |-- OAZON: integer (nullable = true)

In [12]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

dolgozoSchema = StructType([\
                StructField("DKOD", IntegerType()),\
                StructField("DNEV", StringType()),\
                StructField("FOGLALKOZAS", StringType()),\
                StructField("FONOKE", IntegerType()),\
                StructField("BELEPES", StringType()),\
                StructField("FIZETES", IntegerType()),\
                StructField("JUTALEK", IntegerType()),\
                StructField("OAZON", IntegerType())])

In [35]:
df = spark.read.format("csv")\
.schema(dolgozoSchema)\
.option("header", True)\
.load("dolgozo.csv")
df.printSchema()

root
 |-- DKOD: integer (nullable = true)
 |-- DNEV: string (nullable = true)
 |-- FOGLALKOZAS: string (nullable = true)
 |-- FONOKE: integer (nullable = true)
 |-- BELEPES: string (nullable = true)
 |-- FIZETES: integer (nullable = true)
 |-- JUTALEK: integer (nullable = true)
 |-- OAZON: integer (nullable = true)

In [14]:
df.select('DNEV', 'FOGLALKOZAS').show(4)

+-----+-----------+
| DNEV|FOGLALKOZAS|
+-----+-----------+
| KING|  PRESIDENT|
|BLAKE|    MANAGER|
|CLARK|    MANAGER|
|JONES|    MANAGER|
+-----+-----------+
only showing top 4 rows

In [18]:
df.selectExpr('*', '(FIZETES + JUTALEK) as havi_kereset').show(5)

+----+------+-----------+------+---------+-------+-------+-----+------------+
|DKOD|  DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|havi_kereset|
+----+------+-----------+------+---------+-------+-------+-----+------------+
|7839|  KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|        5000|
|7698| BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|        2850|
|7782| CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|        2450|
|7566| JONES|    MANAGER|  7839|81-APR-02|   2975|      0|   20|        2975|
|7654|MARTIN|   SALESMAN|  7698|81-SEP-28|   1250|   1400|   30|        2650|
+----+------+-----------+------+---------+-------+-------+-----+------------+
only showing top 5 rows

In [19]:
df.withColumn('kereset', expr('FIZETES + JUTALEK')).show(5)

+----+------+-----------+------+---------+-------+-------+-----+-------+
|DKOD|  DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|kereset|
+----+------+-----------+------+---------+-------+-------+-----+-------+
|7839|  KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|   5000|
|7698| BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|   2850|
|7782| CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|   2450|
|7566| JONES|    MANAGER|  7839|81-APR-02|   2975|      0|   20|   2975|
|7654|MARTIN|   SALESMAN|  7698|81-SEP-28|   1250|   1400|   30|   2650|
+----+------+-----------+------+---------+-------+-------+-----+-------+
only showing top 5 rows

In [20]:
df.drop('OAZON').show(3)

+----+-----+-----------+------+---------+-------+-------+
|DKOD| DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|
+----+-----+-----------+------+---------+-------+-------+
|7839| KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|
|7698|BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|
|7782|CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|
+----+-----+-----------+------+---------+-------+-------+
only showing top 3 rows

In [21]:
df.withColumnRenamed('FIZETES', 'HAVI_FIZETES').show(3)

+----+-----+-----------+------+---------+------------+-------+-----+
|DKOD| DNEV|FOGLALKOZAS|FONOKE|  BELEPES|HAVI_FIZETES|JUTALEK|OAZON|
+----+-----+-----------+------+---------+------------+-------+-----+
|7839| KING|  PRESIDENT|     0|81-NOV-17|        5000|      0|   10|
|7698|BLAKE|    MANAGER|  7839|81-MAY-01|        2850|      0|   30|
|7782|CLARK|    MANAGER|  7839|81-JUN-09|        2450|      0|   10|
+----+-----+-----------+------+---------+------------+-------+-----+
only showing top 3 rows

In [22]:
df.filter(col('FIZETES') > 3000).show()

+----+----+-----------+------+---------+-------+-------+-----+
|DKOD|DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+----+-----------+------+---------+-------+-------+-----+
|7839|KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|
+----+----+-----------+------+---------+-------+-------+-----+

In [23]:
df.where(col('FIZETES') > 3000).show()

+----+----+-----------+------+---------+-------+-------+-----+
|DKOD|DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+----+-----------+------+---------+-------+-------+-----+
|7839|KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|
+----+----+-----------+------+---------+-------+-------+-----+

In [25]:
df.filter(col('FIZETES') > 2000).where(col('FOGLALKOZAS') == 'ANALYST').show()

+----+-----+-----------+------+---------+-------+-------+-----+
|DKOD| DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+-----+-----------+------+---------+-------+-------+-----+
|7902| FORD|    ANALYST|  7566|81-DEC-03|   3000|      0|   20|
|7788|SCOTT|    ANALYST|  7566|82-DEC-09|   3000|      0|   20|
+----+-----+-----------+------+---------+-------+-------+-----+

In [26]:
df.filter((col('FIZETES') > 2000) | (col('FOGLALKOZAS') == 'ANALYST')).show()

+----+-----+-----------+------+---------+-------+-------+-----+
|DKOD| DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+-----+-----------+------+---------+-------+-------+-----+
|7839| KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|
|7698|BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|
|7782|CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|
|7566|JONES|    MANAGER|  7839|81-APR-02|   2975|      0|   20|
|7902| FORD|    ANALYST|  7566|81-DEC-03|   3000|      0|   20|
|7788|SCOTT|    ANALYST|  7566|82-DEC-09|   3000|      0|   20|
+----+-----+-----------+------+---------+-------+-------+-----+

In [28]:
df.select('FOGLALKOZAS').distinct().show()

+-----------+
|FOGLALKOZAS|
+-----------+
|    ANALYST|
|   SALESMAN|
|      CLERK|
|    MANAGER|
|  PRESIDENT|
|       NULL|
+-----------+

In [29]:
df.select('FOGLALKOZAS').distinct().count()

6

In [30]:
df.orderBy(col('OAZON') , col('FIZETES').desc()).show()

+----+------+-----------+------+---------+-------+-------+-----+
|DKOD|  DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+------+-----------+------+---------+-------+-------+-----+
|7839|  KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|
|7782| CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|
|7934|MILLER|      CLERK|  7782|82-JAN-23|   1300|      0|   10|
|7877|  LOLA|      CLERK|  7902|81-JAN-12|    800|      0|   10|
|7902|  FORD|    ANALYST|  7566|81-DEC-03|   3000|      0|   20|
|7788| SCOTT|    ANALYST|  7566|82-DEC-09|   3000|      0|   20|
|7566| JONES|    MANAGER|  7839|81-APR-02|   2975|      0|   20|
|7878| BLACK|       NULL|  7902|87-MAY-01|   1800|    300|   20|
|7876| ADAMS|      CLERK|  7788|83-JAN-12|   1100|      0|   20|
|7369| SMITH|      CLERK|  7902|80-DEC-17|    800|      0|   20|
|7698| BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|
|7499| ALLEN|   SALESMAN|  7698|81-FEB-20|   1600|    300|   30|
|7844|TURNER|   SALESMAN|  7698|81-SEP-08|   1500|      0|   30|
|7654|MARTIN|   SALESMAN|  7698|81-SEP-28|   1250|   1400|   30|
|7521|  WARD|   SALESMAN|  7698|81-FEB-22|   1250|    500|   30|
|7900| JAMES|      CLERK|  7698|81-DEC-03|    950|      0|   30|
+----+------+-----------+------+---------+-------+-------+-----+

In [40]:
df.groupBy('OAZON').count().show()

+-----+-----+
|OAZON|count|
+-----+-----+
|   20|    6|
|   10|    4|
|   30|    6|
+-----+-----+

In [42]:
osztaly = spark.read.format("csv")\
.option("header", True)\
.option("inferschema", True)\
.load("osztaly.csv")
df.show(3)

df.alias('D')\
.join(osztaly.alias('O'), col('D.OAZON') == col('O.OAZON'), "inner")\
.show()

+----+-----+-----------+------+---------+-------+-------+-----+
|DKOD| DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+-----+-----------+------+---------+-------+-------+-----+
|7839| KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|
|7698|BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|
|7782|CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|
+----+-----+-----------+------+---------+-------+-------+-----+
only showing top 3 rows

+----+------+-----------+------+---------+-------+-------+-----+-----+----------+---------+
|DKOD|  DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|OAZON|       NEV|TELEPHELY|
+----+------+-----------+------+---------+-------+-------+-----+-----+----------+---------+
|7839|  KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|   10|ACCOUNTING| NEW YORK|
|7698| BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|   30|     SALES|  CHICAGO|
|7782| CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|   10|ACCOUNTING| NEW YORK|
|7566| JONES|    MANAGER|  7839|81-APR-02|   2975|      0|   20|   20|  RESEARCH|   DALLAS|
|7654|MARTIN|   SALESMAN|  7698|81-SEP-28|   1250|   1400|   30|   30|     SALES|  CHICAGO|
|7499| ALLEN|   SALESMAN|  7698|81-FEB-20|   1600|    300|   30|   30|     SALES|  CHICAGO|
|7844|TURNER|   SALESMAN|  7698|81-SEP-08|   1500|      0|   30|   30|     SALES|  CHICAGO|
|7900| JAMES|      CLERK|  7698|81-DEC-03|    950|      0|   30|   30|     SALES|  CHICAGO|
|7521|  WARD|   SALESMAN|  7698|81-FEB-22|   1250|    500|   30|   30|     SALES|  CHICAGO|
|7902|  FORD|    ANALYST|  7566|81-DEC-03|   3000|      0|   20|   20|  RESEARCH|   DALLAS|
|7369| SMITH|      CLERK|  7902|80-DEC-17|    800|      0|   20|   20|  RESEARCH|   DALLAS|
|7788| SCOTT|    ANALYST|  7566|82-DEC-09|   3000|      0|   20|   20|  RESEARCH|   DALLAS|
|7876| ADAMS|      CLERK|  7788|83-JAN-12|   1100|      0|   20|   20|  RESEARCH|   DALLAS|
|7934|MILLER|      CLERK|  7782|82-JAN-23|   1300|      0|   10|   10|ACCOUNTING| NEW YORK|
|7877|  LOLA|      CLERK|  7902|81-JAN-12|    800|      0|   10|   10|ACCOUNTING| NEW YORK|
|7878| BLACK|       NULL|  7902|87-MAY-01|   1800|    300|   20|   20|  RESEARCH|   DALLAS|
+----+------+-----------+------+---------+-------+-------+-----+-----+----------+---------+

In [43]:
df.createTempView('dolgozoTable')
spark.sql('SELECT * FROM dolgozoTable').show(5)

+----+------+-----------+------+---------+-------+-------+-----+
|DKOD|  DNEV|FOGLALKOZAS|FONOKE|  BELEPES|FIZETES|JUTALEK|OAZON|
+----+------+-----------+------+---------+-------+-------+-----+
|7839|  KING|  PRESIDENT|     0|81-NOV-17|   5000|      0|   10|
|7698| BLAKE|    MANAGER|  7839|81-MAY-01|   2850|      0|   30|
|7782| CLARK|    MANAGER|  7839|81-JUN-09|   2450|      0|   10|
|7566| JONES|    MANAGER|  7839|81-APR-02|   2975|      0|   20|
|7654|MARTIN|   SALESMAN|  7698|81-SEP-28|   1250|   1400|   30|
+----+------+-----------+------+---------+-------+-------+-----+
only showing top 5 rows

In [44]:
retail = spark.read.format("csv")\
.option("header", True)\
.option("inferschema", True)\
.load("online_retail_data.csv")

In [45]:
retail.createTempView('retailTable')

In [46]:
retail.select('Quantity', 'UnitPrice').summary().show()

+-------+------------------+------------------+
|summary|          Quantity|         UnitPrice|
+-------+------------------+------------------+
|  count|            542014|            542014|
|   mean| 9.555284549845576|4.6113391978817315|
| stddev|218.06048544770567| 96.75097958042583|
|    min|            -80995|         -11062.06|
|    25%|                 1|              1.25|
|    50%|                 3|              2.08|
|    75%|                10|              4.13|
|    max|             80995|           38970.0|
+-------+------------------+------------------+

In [50]:
retail.groupBy('Country').agg(countDistinct('CustomerID').alias('darab')).orderBy(col('darab').desc()).limit(1).show()

+--------------+-----+
|       Country|darab|
+--------------+-----+
|United Kingdom| 3950|
+--------------+-----+

In [59]:
#Adjuk meg azt az 5 országot amelyből a legtöbb bevétel származott

In [58]:
retail.withColumn('bevetel', expr('QUANTITY * UNITPRICE')).groupBy('Country').agg(sum('bevetel').alias('osszeg')).orderBy(col('osszeg').desc()).limit(5).show()

+--------------+------------------+
|       Country|            osszeg|
+--------------+------------------+
|United Kingdom| 8208343.203999796|
|   Netherlands|         284661.54|
|          EIRE|263276.82000000007|
|       Germany|221698.21000000005|
|        France|197463.59000000008|
+--------------+------------------+

In [60]:
#Melyik termék termelte a legnagyobb bevételt

In [64]:
retail.withColumn('bevetel', expr('QUANTITY * UNITPRICE')).groupBy('Description').agg(sum('bevetel').alias('osszeg')).orderBy(col('osszeg').desc()).limit(1).show()

+--------------+---------+
|   Description|   osszeg|
+--------------+---------+
|DOTCOM POSTAGE|206245.48|
+--------------+---------+

In [65]:
#Melyik a legnépszerűbb termék
retail.groupBy('Description').agg(sum('quantity').alias('mennyiseg')).orderBy(col('mennyiseg').desc()).limit(1).show()

+--------------------+---------+
|         Description|mennyiseg|
+--------------------+---------+
|WORLD WAR 2 GLIDE...|    53847|
+--------------------+---------+

In [ ]:
#Átlagosan hány különböző terméket vesz egy vásárló egy vásárlás során
#Melyik tranzakció során vásároltak a legtöbb különböző terméket és hányat